<header>
  <div class="page_wrapper">
    <div class="search_wrapper">
      <input type="text" name="search" placeholder="Enter your search...">
      <i class="header_icon_search fa fa-search"></i>
    </div>

    <div class="profile_wrapper">
      <button type="button" class="btn_header">
        <i class="icon_camera fa fa-camera"></i>
      </button>
      <button type="button" class="btn_header">
        <i class="icon_menu fa fa-bars"></i>
      </button>
      <span class="header_username">
        Bach Le
      </span>
    </div>

    <div class="logo">
      <span>
        <img src="img/TechKidsLogo.png" title="TechKids Logo">
        <span>HOT GIRLS</span>
      </span>
    </div>
  </div>
</header>
