//- h1 Hot Boys TechKids
//- lx(page="1" size="5")
.home
  .home__title Hello Techkids
  table(border="1").home__table 
    tr
      th Name
      th Age
    tr.home__table__row 
      td Cuong
      td 28  
